.header {
    background-color: #dcf0f1;
}

.container {
    margin: 24px;
    height: 100%;

    .overview {
        height: 100%;
    }

    .padbottom {
        padding-bottom: 24px;
    }
}
.balancetitle {
    padding-bottom: 10px;
}
.balance {
    text-align: center;
    min-height: 100px;
    vertical-align: middle;
    padding: 20px 10px;
    font-weight: 600;
}
.balancespan {
    background-color: #dcf0f1;
}
.transfertitle {
    padding-top: 30px;
}
.currenciesicon {
    width: 30px;
    height: 30px;
}
.transferamount {
    min-width: 200px;
}
@media (max-width: 1600px) {
    .container {
        margin: 24px;
    }
}

@media (max-width: 1200px) {
    .container {
        margin: 24px;
    }
}

@media (max-width: 992px) {
    .container {
        margin: 24px;
    }
}

@media (max-width: 576px) {
    .container {
        margin: 12px;
        .overviewchart {
            margin-bottom: 12px;
        }
    }
}
