.contentPanel {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 44px); }
  .contentPanel .sideBar {
    flex: 0 0 auto;
    background-color: #236467;
    align-self: stretch;
    width: 130px; }
  .contentPanel .mainContent {
    flex: 1 1 auto; }
