.imageSlideshow {
    min-width: 360px;
    height: 520px;
    max-width: 100%;
    max-height: 100vh;
    margin-bottom: 24px;
}

.container {
    margin: 24px 196px 24px 196px;

    .padbottom {
        padding-bottom: 24px;
    }

    .investors {
        margin: 0 28em;
    }

    .comments {
        .editor {
            margin-top: 1em;
        }
    }
}

@media (max-width: 1600px) {
    .container {
        margin: 24px 24px 24px 24px;

        .investors {
            margin: 0 16em;
        }
    }
}

@media (max-width: 992px) {
    .container {
        margin: 24px 24px 24px 24px;

        .investors {
            margin: 0 8em;
        }
    }
}

@media (max-width: 768px) {
    .container {
        margin: 12px 12px 12px 12px;

        .overviewchart {
            margin-bottom: 12px;
        }

        .investors {
            margin: 0 4em;
        }
    }
}

@media (max-width: 576px) {
    .container {
        margin: 12px 12px 12px 12px;

        .overviewchart {
            margin-bottom: 12px;
        }

        .investors {
            margin: 0 0;
        }
    }
}

:global {
    .project-owner {
        .ant-modal-header {
            background: #0dca66;
        }
    }

    .extraDetailContainer {
        .ant-tabs-nav {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-weight: 700;

            .ant-tabs-tab-active {
                font-weight: 700;
            }
        }
    }
}
