@import '~antd/lib/style/themes/default.less';

.layout {
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
    padding: 0 24px 24px;
    min-height: 0;
}

.radio {
    line-height: 30px;
    padding: 0 24px 24px;
    margin: 16px;
}

.content {
    background: '#fff';
    padding: 24;
    margin: 0;
}

.sider {
    background: rgb(88, 179, 151);
}
